# Python cache (compiled code)
__pycache__/
*.pyc

# Google Drive / Temp files
.driveupload/
.drivedownload/
.tmp.driveupload/
.tmp.drivedownload/

# User Data
Screenshots/
config.json
search_history.csv

# API Keys and Secrets
token.json
credentials.json
client_secrets.json
.env

# Virtual Environment
venv/
env/