google_api_python_client==2.186.0
google_auth_oauthlib==1.2.3
lmstudio==1.5.0
numpy==2.3.5
openai==2.14.0
openpyxl==3.1.5
pdfminer_six==20250506
Pillow==12.0.0
pillow_heif==1.1.1
protobuf==6.33.2
pyside6==6.10.1
pyside6_addons==6.10.1
pyside6_essentials==6.10.1
python_docx==1.2.0
python_pptx==1.0.2
qtawesome==1.4.0
Requests==2.32.5
sentence_transformers==5.1.2
torch==2.10.0.dev20251124+cu130
watchdog==4.0.2
winrt_runtime==3.2.1
winrt_windows_foundation==3.2.1
winrt_windows_foundation_collections==3.2.1
winrt_windows_globalization==3.2.1
winrt_windows_graphics_imaging==3.2.1
winrt_windows_media_ocr==3.2.1
winrt_windows_storage==3.2.1
winrt_windows_storage_streams==3.2.1
winsdk==1.0.0b10
